*{
    margin: 0%;
    padding: 0%;
}
.container{
    width:100%;
    height:100vh;
    background-color: maroon;
    display: flex;
    justify-content:center ;
    /* horizontal beechnby justify */

    align-items: center;

}
/* question 1 diff between % and vh */
.Weather-cointener{
    color: aliceblue;
}
.temp{
    font-size: 4.5rem;
}
.time-location{
    font-size: 2rem;
}
.condition{

}
nav{
    height: 50px;
}
.search-area{
    margin-left: 50px;
    padding: 1rem;
    outline: none;
    border:none;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    /* width: 98%; */
}
nav form button{
    padding: 1rem ;
    margin-left: 20px;

    background-color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline :none;
    border: none;
    cursor: pointer;

}
/* hello my name is abik and i am don of buxar and wants to rock you this is my world the hello babua i am rock starr and i will get a job in 2 years and make you proud */